<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="user/layout">


<div layout:fragment="content">
    <input type="text" id="name">
    <button type="button" onclick="save();">저장</button>
    <div class="listArea">
    </div>
</div>

<th:block layout:fragment="script">
    <script th:inline="javascript">
        window.onload = () => {
            findAllByChapterId();
        }

        async function save() {
            const subjectId = getParamValue('subjectId')
            const name = find('#name').value;
            const json = {name};
            const url = `/api/subjects/${subjectId}/chapters`;
            const response = await fetchPostByJson(url, json);
            location.reload();
        }

        async function findAllByChapterId() {
            const subjectId = getParamValue('subjectId')
            const url = `/api/subjects/${subjectId}/chapters`;
            const response = await fetchGet(url);
            drawList(response);
        }

        function drawList(response) {
            let html = ``;
            response.forEach(item => {
                html += `<div><a href="/user/question?chapterId=${item.chapterId}">${item.name}</a></div>`
            })
            find('.listArea').innerHTML = html;
        }

    </script>
</th:block>

</html>
