<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="user/layout">


<div layout:fragment="content">
    <input type="text" id="name">
    <button onclick="save()">save</button>

    <div class="listArea">

    </div>

</div>

<th:block layout:fragment="script">
    <script th:inline="javascript">
        window.onload = () => {
            findAllByMemberId();
        }

        async function findAllByMemberId() {
            const url = `/api/subjects`;
            const response = await fetchGet(url);
            drawList(response);
        }

        function drawList(response) {
            let html = ``;
            response.forEach(item => {
                html += `<div><a href="/user/chapter?subjectId=${item.subjectId}">${item.name}</a></div>`
            })
            find('.listArea').innerHTML = html;
        }


        async function save() {
            const url = `/api/subjects`;
            const name = find('#name').value;
            const json = {name}
            const response = await fetchPostByJson(url, json);
            location.reload();
        }

    </script>
</th:block>

</html>
