<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="flex items-center justify-center min-h-screen bg-gray-100">

<div class="bg-white shadow-2xl rounded-2xl p-24 w-[90%] max-w-[1200px] text-center">
    <h1 class="text-6xl font-extrabold mb-16">LOGIN Google</h1>

    <a href="/oauth2/authorization/google?deviceToken=aaa3"
       class="flex items-center justify-center bg-white text-gray-700 border-4  rounded-2xl px-16 py-6 w-full shadow-2xl hover:bg-gray-200 transition text-3xl font-bold">
        <img src="https://developers.google.com/identity/images/g-logo.png" alt="Google Logo" class="w-16 mr-6">
        Login with Google
    </a>
</div>

</body>
</html>
